- attributes("title") = "Shopping cart"
-import com.softserve.cart.model._
-@ val cartId: String
-@ val sum: Int

Are you sure you want to checkout products at sum $#{sum}?
form(action="/shopping-cart/checkout" method="POST")
  input(type="hidden" name="cartId" value="#{cartId}")
  button(type="submit" class="btn btn-primary") Checkout cart
  a(href="/shopping-cart/checkout" type="submit" class="btn btn-danger") Cancel
