- attributes("title") = "Items list"
-import com.softserve.cart.model._
-@ val items: Iterable[Item]

table.table
  thead
    tr
      th Id
      th Name
      th Price
  tbody
    - for(item <- items)
      tr
        td
          a(href={"/items/" + item.id})= item.id
        td= item.name
        td= "$" + item.price
