-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title= "Scalatra: " + title
    link(href="css/bootstrap.css" rel="stylesheet"  media="screen")
    link(href="css/app.css" rel="stylesheet" media="screen")
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        a(href="/" class="brand") Home
        ul.nav
          li
            a(href="shopping-cart") Shopping cart
    .container
      h1= title
      != body
      script(type="text/javascript"
             src="http://code.jquery.com/jquery.js")
      script(type="text/javascript" src="js/bootstrap.js")
